#intro {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--NEXLDS-Brown);
	position: relative;

	&>svg{
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .05;
	}

	.quill {
		position: relative;
		z-index: 3;
		margin-bottom: 178px;
	}

	.begin__button {
		position: relative;
		z-index: 3;
		display: block;
		text-align: center;
		text-decoration: none;
		width: 249px;
		height: 80px;
		background: none;
		animation: beat 1.5s linear infinite alternate-reverse;

		svg path,
		p {
			transition: all 0.5s ease-in-out;
		}

		p {
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -75%);
			font-family: Anonymous Pro;
			font-style: normal;
			font-weight: bold;
			font-size: 1.25rem;
			line-height: 143.1%;
			color: var(--NEXLDS-Brown);
		}

		&:hover {
			svg path {
				fill: var(--main-text);
			}

			p {
				color: var(--NEXLDS-Cream);
			}
		}

		@media screen and (max-width: 400px) {
			animation: beat2 1.5s linear infinite alternate-reverse;
		}

		@keyframes beat {
			from {
				transform: scale(1);
			}
			to {
				transform: scale(1.1);
			}
		}

		@keyframes beat2 {
			from {
				transform: scale(0.8);
			}
			to {
				transform: scale(0.9);
			}
		}
	}
}
