.form__question {
	width: 100%;
	max-width: 1100px;
	padding-top: 120px;

	// hello
	// scroll-snap-stop: normal;
	scroll-snap-align: start;

	.question {
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 4.5rem;
		color: var(--NEXLDS-Brown);
		opacity: 0.08;
		margin-bottom: 20px;
		line-height: 160%;
		transition: 0.5s all ease-in-out;
	}

	input {
		width: 100%;
        max-width: 600px;
		background: none;
		border: none;
		border-bottom: 2px solid var(--main-text);
		font-style: normal;
		font-weight: bold;
		font-size: 4.5rem;
		color: #AD4D47;
	}

	&.active {
		.question {
			font-weight: bold;
			color: var(--main-text);
			opacity: 1;
		}
	}

	@media screen and (max-width: 700px) {
		.question {
			font-size: 2.5rem;
			line-height: 160%;
		}

		input {
			font-size: 2.5rem;
			line-height: 160%;
		}
	}
}
